*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 body{
    width: 100%;
    height: 100vh;
    background-color: #fc427b;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 b{
    color: navy;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
 }

 div{
    color: white;
    text-align: center;
 }

 button{
    padding: 15px;
    font-size: smaller;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: navy;
    color: white;
 }

 button:hover{
    background-color: rgb(1, 1, 167);
 }